:root {
    --color-gradient-verde: linear-gradient(126deg, #28a745,#78d035,#3cc809);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(126deg, #28a745,#78d035,#3cc809);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                                                                                             background: -webkit-linear-gradient(126deg, #28a745,#78d035,#3cc809);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(126deg, #28a745,#78d035,#3cc809);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
    --color-gradient-azul:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,7,104,1) 15%, rgba(9,9,121,1) 34%, rgba(6,66,159,1) 49%, rgba(0,212,255,1) 100%);
    
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px 35px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}

h1, h2 {
    text-align: center;
    color: #444;
}
.btn-default{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
}
.btn-default:hover {
    background-color: #f8d477;

}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #f4f4f4;
    color: #333;
}

.product-list-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    padding: 30px;
}


.custom-select {
    min-width: 350px;
  }
  
  .custom-select select {
    appearance: none;
    width: 100%;
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
  }
  #product-description {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }
  .input-field-textarea{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    cursor: text;
  }
  #product-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .btn-group{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
  }